# OpenOCD烧录配置
source [find interface/stlink.cfg]
source [find target/stm32f4x.cfg]

init
reset halt
flash write_image erase build_gcc/type_04_407VE.bin 0x08000000
verify_image build_gcc/type_04_407VE.bin 0x08000000
reset run
shutdown
